Task 2: Weather Data Analysis

The csv file should be in the same directory where the script is run from

In [20]:
import os
import pandas as pd

In [21]:
cwd = os.getcwd()

csv_file_path = f'{cwd}{os.sep}weather_data.csv'

weather_df = pd.read_csv(csv_file_path, sep=';')

1. Output the contents of the file as a dictionary

In [26]:
dictionary_structured_data = weather_df.to_dict(orient='list')
print(dictionary_structured_data)

{'day': ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], 'temp': [12, 14, 15, 14, 21, 22, 24], 'condition': ['sunny', 'rain', 'rain', 'cloudy', 'sunny', 'sunny', 'sunny']}

2. Extract the temperature column as a list and display the count of elements within it

In [23]:
temperature_data = weather_df['temp'].tolist()
print(len(temperature_data))

7

3. Calculate the average, min and max temperature

In [24]:
print(f'Average temperature: {(sum(temperature_data)/len(temperature_data)):.2f}')
print(f'Minimum temperature: {min(temperature_data)}')
print(f'Maximum temperature: {max(temperature_data)}')

Average temperature: 17.43
Minimum temperature: 12
Maximum temperature: 24

4. Display information about all atmospheric conditions over the week

In [25]:
atmospheric_data = weather_df[['day', 'condition']]
display(atmospheric_data)

         day condition
0     Monday     sunny
1    Tuesday      rain
2  Wednesday      rain
3   Thursday    cloudy
4     Friday     sunny
5   Saturday     sunny
6     Sunday     sunny